{% load staticfiles %}
{% load i18n %}

<div class="row">
    <!-- 心拍波形 -->
    <div class="col-sm-12">
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">{% trans '心拍波形' %}</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body">
                <canvas id="myChart"></canvas>
            </div>

            <div class="box-footer clearfix">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-3">
        <div class="small-box bg-aqua">
            <div class="inner">
              <h3 id="score_bpm">-</h3>
              <p>心拍数(BPM)</p>
            </div>
            <div class="icon">
              <i class="ion ion-heart"></i>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="small-box bg-red">
            <div class="inner">
              <h3 id="score_body">-</h3>
              <p>体温</p>
            </div>
            <div class="icon">
              <i class="ion ion-ios-body"></i>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="small-box bg-green">
            <div class="inner">
              <h3 id="score_mining">0</h3>
              <p>採掘ポイント</p>
            </div>
            <div class="icon">
              <i class="ion ion-ios-flag"></i>
            </div>
        </div>
    </div>
</div>

<div>
    <button type="button" class="btn btn-block btn-warning" onclick="onButtonClick()">採掘（マイニング）開始 !!!!</button>
</div>
